# Core dependencies
numpy
scipy
astropy
scikit-bio
matplotlib
spectres
gdown

# Optional (not installed by default):
# pymultinest==2.11  # requires MultiNest system libraries
# mpi4py             # for parallel retrievals
# torch              # for Deep Learning emulator forward modeling and retrievals
# torchvision        # for Deep Learning emulator forward modeling and retrievals